fastapi
uvicorn[standard]

motor
pymongo

python-dotenv
pydantic
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]

python-multipart

httpx
authlib
itsdangerous

groq

aiofiles

reportlab
firebase-admin